.title-image{
  height: 22em;
  width: 100%
}

.row-height{
  min-height: 42em;
}

#game-list p {
  font-size: 1.5em;
}

.cart-box{
  min-height: 42em;
  margin-bottom: 4em;
}

.input-box{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.input-container{
  position: relative;
}

@media (min-width: 576px) and (max-width: 767px) {
 }


@media (min-width: 768px) and (max-width: 991px) {
  .title-image{
    height: 14em;
    width: 100%
  }
 }
